@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

html {
    scroll-behavior: smooth;
    --basicColor: #6157AB;
    background: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;


}

.header {
    background: #ffffff;
    width: 1200px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;


}

.nav {
    background: #ffffff;
    display: flex;
    gap: 68px;
    list-style: none;
    padding: 23px;

}




.nav-link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    width: 85px;
    height: 30px;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #636769;



}

.main {
    position: relative;
    height: 743px;
    padding: 13px 0 0 60px;
    color: #363B3D;
    background: white;
}

.main-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-img {
    position: absolute;
    height: 743px;
    top: 0;
    right: 0;
}

.main-title {
    width: 616px;
    height: 212px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 1px;

}

.main-text {
    width: 599px;
    height: 68px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.05px;
}

.main-buttons {
    display: flex;
    width: 316px;
}

.main-button {
    width: 158px;
    height: 54px;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    border: none;
    color: white;
}

.colored {
    background: var(--basicColor);
}

.uncolored {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: none;
}

.button-text {
    color: var(--basicColor);
}

.line {
    width: 93px;
    height: 1px;
    background: var(--basicColor);
}

.our-buyers {}


.companies {
    display: flex;
    flex-direction: column;
    gap: 39px;
}


.companies-title {
    width: 89px;
    height: 17px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #96979A;
    margin-top: 119px;


}

.button-title {
    display: flex;
    justify-content: center;
    background: #05fd01;
    padding: 72px 47px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 52px;
    line-height: 64.8px;
    letter-spacing: 0.68px;
    text-align: center;
    color: #333333;
    ;




}

.companies-imgs {
    display: flex;
    align-items: center;
    height: 114px;

}

.buttons-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
    margin-top: 62px;
    height: 60px;
    width: 100%;
    background: #70bcff;


}


.button {
    height: 60px;
    border-radius: 6.8px;
    border-width: 1px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: #6157AB;
    background: #ECEAF8;
    border: 1px solid #6157AB;
    padding: 0 25px;


}

.foto-zone {
    display: flex;
    background: #fe8d8d;
    height: 494px;
}

.buyers-texts {
    display: flex;
    flex-direction: column;
    background: #53ebff;
    width: 431px;
    gap: 30px;
    padding: 33px 25px;


}

.bayers-text-title {
    margin-top: 67px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;

}

.bayers-text-small-title {
    color: #574D9C;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2.32px;
    text-transform: uppercase;


}


.bayers-text-article {
    color: #636769;
    width: 381px;
    height: 120px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0%;

}

.colored {
    width: 223px;
    height: 54px;
    background: #6157AB;
}

.button {
    color: #AAB8BF;
    background: white;
    border: 1px solid #AAB8BF;
    height: 60px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.32px;
    text-transform: uppercase;

}

.uncolored {
    height: 60px;
}

.features-box {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 345px;
    background: #ff00dd;
    height: 259px;
    width: 1200px;
    margin: auto;
    

}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.feature-item img{
    height: auto;
    margin-bottom:10px;
}